.homes-content {
  display: flex;
  height: calc(100vh - 78px);
}

.right-panel {
  padding: 22px 0 22px 32px;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .filters {
    margin-bottom: 22px;
    .title {
      font-family: "Graphik-Semibold", serif;
      font-size: 1rem;
      line-height: 1.15;
      margin: 0 0 4px;
    }
    .listing-count {
      font-size: .875rem;
      line-height: 1.5rem;
      height: 1.5rem;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 1240px) {
  .homes-content {
    .property-item {
      height: 360px;
      align-items: flex-start;
      flex-direction: column;

      &__image-cotainer {
        width: 100%;

        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .homes {
    .header {
      justify-content: flex-end;
    }
  }

  .homes-content {
    flex-direction: column;

    .map, .right-panel {
      width: auto;
    }
  }
}

@media screen and (max-width: 480px) {
  .homes {
    .header {
      padding: 10px;
      flex-direction: column;
      justify-content: center;

      &__logo {
        position: static;
      }
    }
  }
}