$primaryColor: #1c85e8;

.search-wrapper {
  position: relative;
  padding: 8px 0;
  width: 280px;

  &.open {
    border-bottom: 1px solid black;
  }
}

.search-wrapper,
.search-placeholder {
  display: flex;
  align-items: center;
}

.search-placeholder {
  .search-icon {
    margin-right: 8px;
  }

  .search-title {
    cursor: pointer;
    font-family: Inter, serif;
    font-weight: normal;
    text-transform: none;
    color: #6e6e6e;
    transition: color .15s cubic-bezier(0.1, 0.7, 0.1, 1);
  }

  &:hover {
    svg.search-icon {
      circle {
        stroke: $primaryColor !important;
      }
      path {
        fill: $primaryColor !important;
      }
    }

    .search-title {
      color: $primaryColor
    }
  }
}
.search-icon {
  margin-right: 8px;
}

.search-input {
  padding-right: 24px;
  width: calc(100% - 20px);
  border: none;
  outline: none;
}

.close-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 4px;
}
